In [ ]:
pawerbi

tablleu

In [ ]:
database => mysql, sqlite3, mongodb, .......

sql =>  



pawerbi

In [1]:
print("Hello")

Hello

In [2]:
print("xyz")

xyz

In [3]:
10 + 40

50

In [ ]:
python => 
1) simple 
2) gernal perpose
3) High lavel
4) object oriented
5) interpreated
6) Dynamic typed
7) Case senstive language....



# print("kajsbdksa")

1) web devlopment ===> Django, Flask...
2) gamming ==> 
3) Mobile apps backed devlopment => DRF ( Django rest framework..)
4) AI => 


# Language:
#     1) High lavel language
    
      
#     2) low lavel langauge (Machine languages :)    0 1
    
    
    
# 1) compiler
    
# 2) interpreter




# object oriented:
# OOPs  => classes or objcets
# 1) Inharitance
# 2) Polymorphism
# 3) Abstraction
# 4) Encapsulation


# Dynamic typed:
    
#     int a,

# a = 10.1



# Case senstive:
    
#     a = 10
    
#     A = 20

In [ ]:
# functions:
# print() => to print something on console

# input()  => to get input from user....

# comments:   to increse code readabilty...


#     1) single line comment

#   skjdbfksdbfsdjfjsdfbksdjf
    
    
#     2) Multiline comment


# """
#     sjfbksdbfds
#     sdfbskdjfbksdf
#     skdfbsdkbfdsjfk
#     skdjfbksdbfkdksjf

# """/

In [4]:
print("this is a string....")

this is a string....

In [5]:
# data types:
#     1) integer
#     2) Float
#     3) String
#     4) Boolean
#     5) List
#     6) Tuple
#     7) Dictionry
#     8) Set

# type()

In [14]:
a = '10.4wewejwbriwbriwerbweiriewfk5'
type(a)

str

In [16]:
a = True
a

True

In [41]:
# List : to store diffrent type of data....
# []

lst = [1, 2, "hlo", 12.9, "xyz", 90]


# lst
# type(lst)

# slicing:

# lst[1:4]

# [start:end:increment]

# lst[::3]

# lst[2 : 5 : 6]

# append() => to add new elemnt in list

# insert()

lst.insert(2, "abc")

lst.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [44]:
lst = [3, 4,52, 9, 12, 34]

lst.sort()

In [45]:
lst

[3, 4, 9, 12, 34, 52]

In [46]:
# tuple => to store diffrent type of data
# ()

ty = (1, 23, 34, 90)

# type(ty)

tuple

In [48]:
# set  
# {}
# st = {12, 34, 56, "hlo", 12, 34, 100}

# st

{100, 12, 34, 56, 'hlo'}

In [49]:
# dictionry => format of key value >>>>>>> key : value
# {}
dct = {"name" : "kriss", "age" : 12, "class" : "10th"}

type(dct)

dict

In [53]:
# a = 10
# b = 20
# print("akjsbkasdksaj", a, b)

akjsbkasdksaj 10 20

In [57]:
# input()

# name = input("Enter your name : ")  ===> str

# print("User enter their name : ", name)

Enter your name : kriis
User enter their name :  kriis

In [60]:
num1 = int(input("Enter first number : "))
num2 = int(input("Enter second number : "))

# concatination : join two strings

sumx = num1 + num2

print("the output is : ", sumx)

Enter first number : 10
Enter second number : 23
the output is :  33

In [66]:
# variable decleartion

# 1) Variables always strat from chracter or underscore (_)
# 2) Variables neve start from integer or any symbol
# 3) variable never be a keyword
# 4) Variables never hold space


# abc 12 = 10

# abc12

SyntaxError: invalid syntax (3407639312.py, line 9)

In [ ]:
# list

# numpy