In [3]:
# List => is used to store multipal data in a single variable...


# a, b = 10, 20

# []

In [12]:
lst = [12, 12.0, "name", 120, 12]

In [13]:
type(lst)

list

In [14]:
lst.append(100)
lst

[12, 12.0, 'name', 120, 12, 100]

In [15]:
lst.insert(1, 1000)
lst

[12, 1000, 12.0, 'name', 120, 12, 100]

In [17]:
lst.remove(1000)
lst

[12, 12.0, 'name', 120, 12, 100]

In [18]:
lst.pop()

100

In [19]:
lst

[12, 12.0, 'name', 120, 12]

In [20]:
lst.pop(1)

12.0

In [21]:
lst

[12, 'name', 120, 12]

In [23]:
a = [2, 4, 6, 8]
b = [4, 6, 9, 10]

print(a + b)

[2, 4, 6, 8, 4, 6, 9, 10]

In [26]:
# sort()

a = [3, 8, 4, 6, 1, 7, 10]

a.sort()

a

[1, 3, 4, 6, 7, 8, 10]

In [27]:
a.clear()

In [28]:
a

[]

In [29]:
lst = [1,3, 10, 9, 3]

sum(lst)

26

In [30]:
# len()
len(lst)

5

In [37]:
lst = [1, 3, 10, 9, 3, 80, 50]

# lst[start, end, increment]

lst[3:7]

[9, 3, 80, 50]

In [41]:
lst[-4: ]

[9, 3, 80, 50]

In [42]:
lst.reverse()

In [43]:
lst

[50, 80, 3, 9, 10, 3, 1]

In [ ]:
list : Ordered, mutable = changable

In [45]:
# Tuple : Collction of multipal data in a single variable...
# ()

a = (10, )
print(type(a))

<class 'tuple'>

In [46]:
tpl = (12, "name", "car", 10.9)

In [47]:
print(tpl)
print(type(tpl))

(12, 'name', 'car', 10.9)
<class 'tuple'>

In [48]:
tpl[1:3]

('name', 'car')

In [49]:
# Tuple => Ordered, imutable

In [58]:
a = (12, 5, 10)

# a.append(100)

lt = list(a)

# print(lt)

lt.append(100)

tp = tuple(lt)

tp

(12, 5, 10, 100)

In [53]:
# a = 10
# print(type(a))

# b = str(a)
# print(b)
# print(type(b))

<class 'int'>
10
<class 'str'>

In [65]:
# Set: same collection of multipal data
# {}

st = {12, 100, "name", 90, 10.2, 12, 100}

In [66]:
print(st)
print(type(st))

{'name', 100, 90, 10.2, 12}
<class 'set'>

In [68]:
st.add("newdata")

In [69]:
st

{10.2, 100, 12, 90, 'name', 'newdata'}

In [71]:
st.pop()

'name'

In [73]:
st.remove(100)

In [74]:
st

{10.2, 12, 90, 'newdata'}

In [ ]:
# set : unordered, mutable, remove duplicates

In [75]:
# Dictionry => colction of data     key:value paris

In [76]:
dic = {
    "Name" : "Kriss",
    "Age" : 20,
    "Marks" : 90
}

In [77]:
dic

{'Name': 'Kriss', 'Age': 20, 'Marks': 90}

In [79]:
dic["Age"]

20

In [80]:
dic["Phone_Number"] = 92346293893

In [81]:
dic

{'Name': 'Kriss', 'Age': 20, 'Marks': 90, 'Phone_Number': 92346293893}

In [83]:
dic["Age"] = 21

In [84]:
dic

{'Name': 'Kriss', 'Age': 21, 'Marks': 90, 'Phone_Number': 92346293893}

In [96]:
# JSON

dictio = {
    "dict1" : {
        "name" : "Ayush",
        "Age" : 20,
        "Marks" : 80
    },
    
    "dict2" : {
        "name" : "Kriss",
        "Age" : 21,
        "Marks" : 70
    }
}

In [101]:
dictio["dict2"]["Age"]

21

In [103]:
dictio["dict1"]["name"]

'Ayush'

In [104]:
# dictionry : ordered, mutable

In [105]:
dic = {
    "Name" : "Kriss",
    "Age" : 20,
    "Marks" : 90
}

In [106]:
dic.keys()

dict_keys(['Name', 'Age', 'Marks'])

In [107]:
dic.values()

dict_values(['Kriss', 20, 90])

In [108]:
for i in dic.keys():
    print(i)

Name
Age
Marks

In [110]:
a = [12, 2, 3, 34, 100, 89]

In [111]:
a.sort()